<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Golang HTML Server</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/navigation_bar.css">
</head>
<body>
<div class="container">
    {{.NavigationBar}}

    <div class="col-md-offset-6 col-md-6">
        <form  id="forget-form" class="form-forget" role="form"  method="POST">
            <h4 class="form-forget-heading">Send Reset Link To Email</h4>
            <input id="email" type="email" class="form-control" placeholder="Email address" name="email" required autofocus >
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </form>
    </div>
</div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script >
    $(window).on("load", function(){
        // Handler when all assets (including images) are loaded
        async function handleForget(e) {
            e.preventDefault();
            console.log("Forget call")
            const email = document.querySelector("#email").value
            try {
                const resp = await axios({
                    method: 'post',
                    url: '/api/password/forget',
                    data: {
                        email: email,
                    }
                });
                console.log(resp)
                alert("Check your email, please check on spam also")
                window.location.href = "/"
            }catch (e) {
                alert(e.message)
                console.log("Forget failed", e)
            }


        }
        document.getElementById("forget-form").addEventListener(
            'submit', handleForget
        );
    });

</script>
</html>
