<!-- Navigation Bar -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand">SAHO</span>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a id="secondNav" class="nav-link" href="/web/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a id="thirdNav" class="nav-link" href="/api/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>