<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Golang HTML Server</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
        #locationField, #controls {
            position: relative;
            width: 480px;
        }
        #autocomplete {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 99%;
        }
        .label {
            text-align: right;
            font-weight: bold;
            width: 100px;
            color: #303030;
            font-family: "Roboto";
        }
        #address {
            border: 1px solid #000090;
            background-color: #f0f9ff;
            width: 480px;
            padding-right: 2px;
        }
        #address td {
            font-size: 10pt;
        }
        .field {
            width: 99%;
        }
        .slimField {
            width: 80px;
        }
        .wideField {
            width: 200px;
        }
        #locationField {
            height: 20px;
            margin-bottom: 2px;
        }
    </style>
</head>
<body>
<div class="container">
    {{.NavigationBar}}

    <div class="col-md-offset-10 col-md-10">
        <form id="profile-form" class="form-signin" role="form" action="/api/user" method="post">
            <h2 class="form-signin-heading">Edit Profile Information</h2>
            <div class="row">
                <div class="col-md-6">
                    <label>First Name</label>
                    <input id="fname" type="text" class="form-control" placeholder="First Name" value="{{.FirstName}}" required autofocus>
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <input id="lname" type="text" class="form-control" placeholder="Last Name" value="{{.LastName}}" required>
                </div>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input id="email" type="email" class="form-control" placeholder="Email address" value="{{.Email}}" required>
            </div>
            <div class="mb-3">
                <label>Address</label>
                <div id="locationField">
                    <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" value="{{.Address}}" />
                </div>

            </div>
            <div class="mb-3">
                <label>Telephone</label>
                <input id="telephone" type="number" class="form-control" placeholder="987654321" value="{{.Telephone}}" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </form>
    </div>
</div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    // This sample uses the Autocomplete widget to help the user select a
    // place, then it retrieves the address components associated with that
    // place, and then it populates the form fields with those details.
    // This sample requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script
    // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), {types: ['geocode']});

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlVhN0M_xbrEc1TqoEDpSi9EcEIQLt_bQ&libraries=places&callback=initAutocomplete"  async defer></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlVhN0M_xbrEc1TqoEDpSi9EcEIQLt_bQ&libraries=places"></script>

<script>
    $(window).on("load", function(){
        // Handler when all assets (including images) are loaded
        async function handleProfileEdit(e) {
            e.preventDefault();
            console.log("profile edit call")
            const fname = document.querySelector("#fname").value
            const lname = document.querySelector("#lname").value
            const email = document.querySelector("#email").value
            const address = document.querySelector("#autocomplete").value
            const telephone = document.querySelector("#telephone").value
            try {
                const resp = await axios({
                    method: 'put',
                    url: '/api/user',
                    data: {
                        firstName: fname,
                        lastName: lname,
                        email: email,
                        address: address,
                        telephone: telephone,
                    }
                });
                console.log(resp)
                window.location.href = "/web/profile"
            }catch (e) {
                alert(e.message)
                console.log("Login failed", e)
            }


        }
        document.getElementById("profile-form").addEventListener(
            'submit', handleProfileEdit
        );
    });

</script>
</html>