<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Golang HTML Server</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link rel="stylesheet" href="/web/static/style.css">
        <link rel="stylesheet" href="/web/static/navigation_bar.css">
        <script >
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            if (getCookie("Authorization") == "") {
                window.location.href = "/web/signin"
            }

        </script>
    </head>
    <body>
        <div class="container">
            {{.NavigationBar}}

            <h2 class="form-signin-heading">Profile Information</h2>
            <div class="row">
                <div class="col-md-3">
                    Name:
                </div>
                <div class="col-md-6">
                    {{.Name}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Email:
                </div>
                <div class="col-md-6">
                    {{.Email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Address:
                </div>
                <div class="col-md-6">
                    {{.Address}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Telephone:
                </div>
                <div class="col-md-6">
                    {{.Telephone}}
                </div>
            </div>
            <a href="/web/profile/edit">Edit</a>
        </div>
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

</html>
