<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Golang HTML Server</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/navigation_bar.css">
    </head>
    <body>
        <div class="container">
            {{.NavigationBar}}

            <div class="col-md-offset-4 col-md-4">
                <form  id="signin-form" class="form-signin" role="form" action="/api/user/login" method="POST">
                    <h2 class="form-signin-heading">Sign in</h2>
                    <a href="/web/signin/google/connect">Login With Google</a>
                    <hr/>
                    <input id="email" type="email" class="form-control" placeholder="Email address" name="email" required autofocus >
                    <input id="password" type="password" class="form-control" placeholder="Password" name="password" required >
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                <a href="/web/forget-password">Forget Password?</a>
            </div>
        </div>
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script >
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        if (getCookie("Authorization") != "") {
            window.location.href = "/web/profile"
        }
        $(window).on("load", function(){
        // Handler when all assets (including images) are loaded
            async function handleLogin(e) {
                e.preventDefault();
                console.log("Login call")
                const email = document.querySelector("#email").value
                const password = document.querySelector("#password").value
                try {
                    const resp = await axios({
                        method: 'post',
                        url: '/api/login',
                        data: {
                            email: email,
                            password: password
                        }
                    });
                    console.log(resp)
                    window.location.href = "/web/profile"
                }catch (e) {
                    alert(e.message)
                    console.log("Login failed", e)
                }


            }
            document.getElementById("signin-form").addEventListener(
                'submit', handleLogin
            );
        });

    </script>
</html>
